*{
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular;
}

/* Header */

.banner-top{
    background-color: #2e396a;
    color: #fff;
    font-size: 14px;
    padding: 5px 16px 0 16px;
    border-radius: 0 0 8px 8px;
}

.nav_logo{
    width: 180px;
}

.nav_shoping{
    padding: 0 10px;
}

@media (max-width:576px){
    .banner-top{
        display: none;
    }
    .nav_location_name{
        font-size: 13px;
    }
    .nav_shoping{
        padding: 0 3px;
    }
    .nav_location{
        padding-left: 2px;
        float: right;
    }
}

/* Section 1 */

.section1{
    box-shadow: inset 0 0 20px -8px #969595;
    background-color: #d3e8fd;
    position: sticky!important;
    top: 0!important;
    z-index: 99!important;
    margin: 5px 0;
}

.menu{
    text-align: center;
}

.menu_list{
    list-style: none;
}

.menu_list li{
    display: inline-block;
}

.menu_list li a{
    display: block;
    text-decoration: none;
    color: #282828;
    padding: 13px 10px 0 10px;
}

.menu_list li a:hover{
    color: #4f4f4f;
    text-shadow: 0px 0px 2px #f8f8f8;
}

.menu_list li a:active{
    color: #000;
}

.section1{
    background-color: #d3e8fd;
} 

@media (max-width:992px) {
    .section1{
        box-shadow: none;
        background-color: #fff;
        margin: 10px 0;
    }
}

/* Section 2 */

.section2-banner{
    border: 0;
    border-radius: 20px;
}
@media (max-width:576px) {
    .section2-banner{
        height: 150px;
    }
    .text-heading{
        font-size: 15px!important;
       
    }
    .ft-brand-text{
        font-size: 10px!important;
    }
}
.section2-title{
    font-size: 24px;
    font-weight: 600;
}

/* Section 3 */

.section3-card1{
    background-color: #d3e8fd;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}
.section3-card2{
    background-color: #fcf0ee;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

/* Section 4 */

.text-heading{
    font-size: 24px;
    font-weight: 600;
}
.sec4-video{
    width: 100%;
}
.card-btn{
    background-color: #fff;
    color: #000443;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 15px;
    box-shadow: 0 0 20px #eef6f6;
    border-radius: 50px;
}

.card-btn:hover{
    background-color: #4ea4f4;
    color: #fff;
}

.sec4_b1{
    background-color: #d3e8fd;
}
.sec4_b2{
    background-color: #fcf0ee;
}
.sec4_b3{
    background-color: #f0d6fd;
}

.sec4_banner{
    padding: 20px;
    border-radius: 20px 500px 500px 20px;
}

@media (max-width:768px) {
    .sec4_banner{
        padding: 20px;
        border-radius: 10px;
    }
}

.sec4_title{
    font-weight: 600;
}

.sec4_content{
    font-size: 13px!important;
}

.sec4_price{
    font-weight: 600;
}

/* Section 5 */

.sec5_brand{
    width: 80%;
}

/* Section 6 */

.sec6_image{
    width: 100%;
    border-radius: 16px;
    margin-bottom: 15px;
}


/* Footer */

.ft{
    background-color: #f3f4f6;
    color: #000;
    margin-top: 30px;
    padding: 20px 0 10px 0;
}

.footer_li{
    list-style: none;
    font-size: 15px;
    line-height: 30px;
}