* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

.justify {
    text-align: justify;
}

* {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #ebebeb;
    height: 50px;
}

.header_logo1 {
    padding: 10px;
}

@media (max-width:575px) {
    .header_1_none {
        display: none;
    }
}

@media (max-width:768px) {
    .header_search_1 {
        display: none;
    }

}

@media (min-width:769px) {
    .header_search_2 {
        display: none;
    }
}

/* Navbar */

.nav_img {
    width: 50px;
}

@media (max-width:992px) {
    .nav_menu {
        display: none;
    }
}

@media (min-width:992px) {
    .nav_icon_empty {
        display: none;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
    text-decoration: none;
    background-color: white;
    color: #002d71;
    padding: 15px 15px;
    font-size: 14px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 1200px;
    background-color: #fff;
    z-index: 1;
    padding: 50px;

    margin: 0px 0px 0px -171px;
}

@media (max-width:1245px) {
    .dropdown-content {
        min-width: 900px;
        margin: 0px 0px 0px -100px;
    }
}

.dropdown-content_bussiness {
    margin: 0px 0px 0px -270px;
}

@media (max-width:1245px) {
    .dropdown-content_bussiness {
        min-width: 900px;
        margin: 0px 0px 0px -200px;
    }
}

.dropdown-content_brands {
    margin: 0px 0px 0px -366px;
}

@media (max-width:1245px) {
    .dropdown-content_brands {
        min-width: 900px;
        margin: 0px 0px 0px -297px;
    }
}

.dropdown-content_Sustainability {
    margin: 0px 0px 0px -448px;
}

@media (max-width:1245px) {
    .dropdown-content_Sustainability {
        min-width: 900px;
        margin: 0px 0px 0px -398px;
    }
}

.dropdown-content_Media {
    margin: 0px 0px 0px -567px;
}

@media (max-width:1245px) {
    .dropdown-content_Media {
        min-width: 900px;
        margin: 0px 0px 0px -500px;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
    color: rgb(63, 63, 217);

}

.nav_icon {
    position: relative;
}

.nav_icon_content {
    visibility: hidden;
    position: absolute;
    z-index: 99;

}

.nav_icon:hover .nav_icon_content {
    visibility: visible;
}

.nav_icon_menu {
    list-style: none;
    min-width: 100px;
    margin: 7vh -7vw 0px -60vw;
    border-radius: 5px;
    box-shadow: 0px 0px 14px #ccc;
    padding: 15px 20px;
}

.nav_icon_menu li a {
    text-decoration: none;
    text-emphasis: 1rem;
    color: #222;
    font-weight: 700;
    padding: 5px 0px;
}

.menu_hover:hover {
    color: #00d5ff;
}

.menu {
    list-style: none;
}

.menu li {
    display: block;
}

.menu li a {
    text-decoration: none;
    color: #222;
}

/* Section 1 */

.Section1 {
    background-color: #f3f3f3;
    font-family: "Barlow", sans-serif;
    box-shadow: inset 5px 5px 20px #ccc;
    padding: 30px 0 10px 0;
}

.sec1_a {
    color: #002d71;
    border-top: 3px solid #002d71;
}

.sec1_span {
    color: #c78800;
    padding: 3px 0 5px 0;
}

.sec1_p {
    font-size: 24px;
}

@media (max-width:992px) {
    .sec1_992 {
        display: none;
    }
}

/* Section 2 */

.section2 {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
}

.rowsection2 div{

    border: 0px 1px 0px 0px solid black;
}

.rowsection2 div h5{
    padding: 20px;
    font-size: 15px;
}

.section2emptyrow{
    height: 50px;
    background-color: #f3f3f3;
}

.div_blude_itcveersion_parent {
    background-color: rgb(4, 4, 94);
    color: white;

}

.div_blude_itcveersion {
    text-align: center;
}

.div_yelloe_itcveersion {
    background-color: #c78800;
}



/* Footer */

.footer_linkbox {
    width: 100%;
    background: url('../img/footerbg.jpg');
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 50px 0 36px;
}

.f_p {
    font-size: 13px;
    color: #a2ceed;
    padding: 5px 0;
    font-weight: 400;
    line-height: 22px;
}

.f_p span {
    color: #fff;
    font-weight: 400;
}

.f_p li {
    list-style: none;
}

.f_p li a {
    text-decoration: none;
    font-size: 13px;
    color: #a2ceed;
    padding: 5px 0;
    font-weight: 400;
    line-height: 22px;
}

.f_p li a:hover {
    color: #ededed;
}

.f_p>h5>a {
    font-family: Figtree-Regular;
    margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    padding: 5px 0;
}

.f_p1 li {
    list-style: none;
}

.f_p1 li a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.f_menu {
    list-style: none;
}

.f_menu li {
    display: inline;
}

.f_menu>li>a {
    display: inline-block;
    font-family: Figtree-Regular;
    text-decoration: none;
    font-weight: 400;
    color: #222;
    padding: 0px 10px;
}

@media (max-width:768px) {
    .footer_last {
        font-size: 12px;
    }
}
 
@media (max-width:576px) {
    .header {
        height: 40px;
    }

    .header_logo1 {
        padding: 5px 5px;
    }

    .header_m_icon1 {
        height: 20px;
    }

    .header_span {
        margin: 0px 2px;
    }

    .header_m_icon2 {
        padding: 5px;
        margin: 5px 0;
    }

    .header_search_2 {
        margin: 8px 0;
    }

    .header_1_none {
        display: none;
    }

    /* Navbar */
    .nav_img {
        width: 30px;
    }

    .nav_menu_icon {
        margin: 5px 0;
    }

}

@media (max-width:992px) {
    .section2{
        display: none;
    }
}
